@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
.text-white {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1;
    height: 100%;
}

.bg-main {
    background-color: #000c34;
}

.wrapper {
    background: rgb(87, 87, 98);
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.6334908963585435) 33%, rgba(1, 22, 39, 0.4766281512605042) 68%), url(../../images/bg.jpg);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu .nav-item {
    margin-right: 2px;
    margin-left: 2px;
}

.menu .logo {
    width: 272px;
    height: 272px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu .nav-item .nav-link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-menu .nav-item {
    display: flex;
    align-items: center;
}

.footer-menu .nav-item .nav-link {
    color: #fff;
}

.footer-menu .nav-item .social-icon {
    width: 30px;
    height: 30px;
}

.header-title {
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding-top: 10rem; */
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
}

.header-title h1 {
    font-size: 80px;
    margin: 8px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0px 1px 1px #000;
}

.header-title h3 {
    font-size: 32px;
    color: #B91327;
    text-transform: uppercase;
    margin: 8px;
    font-weight: 900;
    text-shadow: 0px 1px 1px #120204;
}

.table-title {
    display: flex;
    align-items: center;
}

.table-title h1 {
    text-transform: uppercase;
}

.image-logo-serie-wrapper {
    width: 150px;
    height: 150px;
}

.image-logo-serie-wrapper img {
    width: 100%;
    height: 100%;
}

.table {
    width: 50%;
}

.td-box {
    display: flex;
    align-items: center;
}

td {
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    background-color: #000c34;
}

.classificação {
    width: 5px;
}

th {
    color: #fff;
    background-color: #000c34;
    text-transform: uppercase;
}

.td-image {
    display: flex;
}

tr {
    text-align: center;
    background-color: #000c34;
}

.bg-gg {
    background-color: #000c34;
}

@media(min-width: 768px) and (max-width: 2444px) {
    .wrapper .navbar {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .wrapper {
        padding-top: 0;
    }
    .nav .nav-item {
        display: none;
    }
    .header-title {
        margin-top: 100px;
        background-color: thistle;
    }
}

@media (min-width: 320px) and (max-width: 359px) {}

.calendario-image {
    width: 100%;
    padding: 2rem;
}

.calendario-image img {
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #000c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #fff;
    font-size: 16px;
    opacity: 0.7;
}